build/
__pycache__/
.idea/
.vs/
.vscode/
assets/
venv/
wandb/
training_data/
bazel-bin/
bazel-engine/
bazel-out/
.clwb/
archive/
*.bazelrc
*.pyproj
*.sln
*.pdb
/engine/bazel-testlogs
/engine/MODULE.bazel.lock